# Arguments vs Parameters

In [ ]:
###NOTES###

# Semantics
'''
    def my_func(a, b):
        #code
        
        a & b are parameters
        
        
    # when funciton is called then we call input as arguments
    
    my_func(x,y)
       x & y are arguments
    
#module scope 

x & y variables
'''

# Positional and keyword arguments

In [ ]:
# Default parameters values
# keyword arguments or named arguments

# Unpacking iterables

In [ ]:
# 1,2,3 is also a tuple i.e.  same as (1,2,3)
# (1) is int not tuple
# 1, will create a tuple
# () empty tuple or tuple() for empty tuple


# Packed values
    ### values bundled together
    # string is packed value as well i.e. s = 'python' is packed value
    
# Unpacked packed values
    # a,b,c = [1,2,3]
    # unpacked as a= 1, b= 2, c= 3
    # a,b,c = 'xyz' will be a = x, b = y, c = z
    
    # swap values a,b = b,a
    
    # swap works because RHS is evaluated in python first followed by LHS
    
# unpacking set and dict
    # for e in d: e iterated thorugh keys
    # a,b,c = d then  a = k1 , b = k2, c = k3
    # set and dict are unordered types

In [1]:
 a = (1, 2, 3)

In [2]:
type(a)

tuple

In [3]:
a = 1,2,3 # tuple can be created with out paranthesis

In [4]:
type(a)

tuple

In [5]:
a

(1, 2, 3)

In [6]:
a = (1) # this is int

In [7]:
a

1

In [8]:
a = 1, # comma creates the tuple

In [9]:
a

(1,)

In [10]:
type(a)

tuple

In [13]:
a =() #empty tuple

In [14]:
type(a)

tuple

In [ ]:
# unpacking code

In [15]:
a, b, c = [1, 2, 3]

In [16]:
a

1

In [17]:
b

2

In [18]:
c

3

In [19]:
a,b = (1,2)

In [20]:
a

1

In [21]:
b

2

# *args

In [ ]:
#### NOTES ####
def func1(a,b,*c):
    # code
    
func1(10,20,'a','b')

a = 10, b = 20 , c = ('a','b')


#*args exhaust the positional argument

In [29]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count==0:
       return 0
    else:
       return total/count

In [30]:
avg(2,2,4,4)

3.0

In [31]:
avg()

0

In [32]:
def avg(*args):
    count = len(args)
    total = sum(args)
    
    return count and total/count

In [33]:
avg()

0

In [34]:
avg(1,2,3,4)

2.5

In [36]:
def avg(a, *args):
    count = len(args)+1
    total = sum(args)+a
    
    return total/count

In [37]:
avg(1)

1.0

In [38]:
def func1(a,b,c):
    print(a)
    print(b)
    print(c)

In [39]:
l = [10,20,30]

In [40]:
func1(*l) # unpack l in argument

10
20
30

# Keyword arguments

In [41]:
def func1(a, b, **kwargs):
    print(a)
    print(b)
    print(kwargs)

In [42]:
func1(10,20,c = 30, d = 40)

10
20
{'c': 30, 'd': 40}

In [46]:
def func2(*, d):
    pass
    #* indicates end of positional arguments

In [47]:
func2(1,2,3,d=100) # fails as * indicates end of position arguments and no positional arguments were expected there

TypeError: func2() takes 0 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [48]:
func2(d=100) # works as no positional arguments were passed

In [50]:
def func1(a,b,c):
    print(a,b,c)

In [51]:
func1(1,2,3)

1 2 3

In [52]:
func1(1, c = 3, b = 2)

1 2 3

In [53]:
def func1(a, b, *args):
    print(a,b,args)

In [54]:
func1(1,2,3,4)

1 2 (3, 4)

In [55]:
def func1(a, b, *args, d):
    print(a,b,args,d)

In [57]:
func1(1,2,3,4, d= 5)

1 2 (3, 4) 5

In [58]:
def func1(*args,d):
    print(args, d)

In [59]:
func1(1,2,3, d = 4)

(1, 2, 3) 4

In [60]:
func1(d = 4)

() 4

In [62]:
def func(*, d):
    print(d)

In [63]:
func(d = 4)

4

In [64]:
def func2(a, b, *args, d = 0, e):
    print(a,b,args,d,e)

In [65]:
func2(1,2,7,89, e = 9)

1 2 (7, 89) 0 9

# **kwargs